name: Publish

on: push

jobs:
  Publish:
    runs-on: ubuntu-18.04

    env:
      GITHUB_READPACKAGES_USER: ${{ secrets.GH_READPACKAGES_USER }}
      GITHUB_READPACKAGES_TOKEN: ${{ secrets.GH_READPACKAGES_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: '1.8.0'

      - name: Publish AAR
        run: ./gradlew publish --stacktrace
        env:
          GITHUB_USER: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
